@media (max-width: 869px)
    .clients__item
        &:nth-child(2n+2)
            margin-right: 0
            
@media (max-width: 766px)             
    .title
        font-size: 21px
    .contacts
        padding-top: 0
    .catalog__accordion-name
        left: 15px
    .catalog__wrapper
        width: 100%
    .catalog__accordion
        &:after
            right: 10px
    .active
        &:after
            top: 30px
    .catalog__accordion
        min-height: 108px
    .title
        &_blue
            margin-bottom: 25px
    .clients
        padding-top: 0
    .reviews
        padding-top: 0
    .others
        padding-top: 0
@media (max-width: 595px)
    .clients__item
        margin-right: 0

@media (max-width: 320px)
    .advantages__grid 
        flex-direction: column
        justify-content: center
    .advantages__item
        width: 100%
