@import 'base/_variables.sass'
	
.container
	max-width: 1140px
	margin: auto

body
	font-family: Roboto
button, input, textarea
	&:active
		outline: none
	&:focus
		outline: none

.empty
	height: 83px

@import 'blocks/_nav.sass'
@import 'blocks/_button.sass'
@import 'blocks/_header.sass'
@import 'blocks/_title.sass'
@import 'blocks/_catalog.sass'
<<<<<<< HEAD
@import 'blocks/_answers.sass'
@import 'blocks/_form.sass'
@import 'blocks/_advantages.sass'
=======
@import 'blocks/_steps.sass'
>>>>>>> 7aa7729a2a7797dc5d7a3bd458a00f7995a7a128
