@import 'base/_variables.sass'
	
.container
	width: 1140px
	margin: auto

body
	font-family: Roboto
button, input, textarea
	&:active
		outline: none
	&:focus
		outline: none

.empty
	height: 83px

@import 'blocks/_nav.sass'
@import 'blocks/_button.sass'
@import 'blocks/_header.sass'
@import 'blocks/_title.sass'
@import 'blocks/_catalog.sass'
@import 'blocks/_steps.sass'