.button
	width: 238px
	height: 40px
	background-color: $main-color
	color: #ffffff
	font-size: 16px
	font-weight: 500
	line-height: 24px
	border: 1px solid $main-color
	border-radius: 10px
	transition: 0.5s
	&:hover
		background-color: #4b6acf
	&:active
		transform: translate(5px, 2px)
	&_white
		background-color: #fff
		color: $main-color
		border-color: #fff
		&:hover
			background-color: #fff
	 
         