.create
    
    &__list
        display: flex
    &__item
        height: 477px
        background: url('../../img/terrace.jpg') no-repeat
        background-size: cover
        &:nth-child(2)
            background: url('../../img/stairs.jpg') no-repeat