.callback
	box-shadow: 1px 15px 8px 0px rgba(0, 0, 0, 0.15)
	&__form
		margin-top: 35px
		display: flex
		flex-direction: column
	&__input
		width: 411px
		height: 59px
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
		border-radius: 10px
		background-color: #ffffff
		border: none
		margin: 0 auto
		margin-bottom: 19px
		&::placeholder
			font-size: 14px
			font-weight: 400
			line-height: 30px
			padding-left: 47px
	&__button
		width: 411px
		height: 69px
		border-radius: 10px
		background-color: #4d63aa
		color: #ffffff
		font-size: 16px
		font-weight: 500
		line-height: 24px
		border: none
		margin: 0 auto
		transition: 0.5s
		&:hover
			background-color: #4b6acf
		&:active
			transform: translate(5px, 2px)
	&__politic
		color: #a9a9a9
		font-family: Roboto
		font-size: 9px
		font-weight: 400
		line-height: 10.5px
		text-decoration: underline
		margin: 0 auto
		margin-top: 16px
		margin-bottom: 49px