
.s-portfolio {
    z-index: 1;
    height: 810px;
    padding: 60px 0 35px;
    background-color: #f0f0f0
}

 

@media screen and (max-width: 1250px) {
    .s-portfolio:after {
        display:none
    }
}

@media screen and (max-width: 1024px) {
    .s-portfolio {
        height:740px
    }
}

@media screen and (max-width: 768px) {
    .s-portfolio {
        height:715px
    }
}

@media screen and (max-width: 414px) {
    .s-portfolio {
        height: 660px
    }
}

@media screen and (max-width: 360px) {
    .s-portfolio {
        height:650px;
        background-color: #fff;
    }
}

.portfolio {
    position: relative;
    z-index: 1
}

.portfolio__list {
    display: flex;
    justify-content: center
}

@media screen and (max-width: 768px) {
    .portfolio__list {
        display:none
    }
}

/* @media screen and (max-width: 360px) {
    .portfolio .p-slider__arrow {
        position:relative;
        top: -110px;
        left: -95px;
    }
} */

.portfolio .slick-list {
    height: 600px;
    padding: 50px 10px!important;
}

@media screen and (max-width: 1024px) {
    .portfolio .slick-list {
        height:480px;
    }
}


@media screen and (max-width: 414px) {
    .portfolio .slick-list {
        height:440px;
    }
}

/* @media screen and (max-width: 360px) {
    .portfolio .slick-list {
        height:470px;
        padding: 50px 10px 30px 10px!important;
    }
} */

.portfolio__inner {
    position: relative
}

.portfolio__item {
    width: 50%;
    max-width: 325px;
    height: 470px;
    margin-right: 280px;
    border: 1px solid #000
}

.portfolio__item:last-child {
    margin-right: 0
}

@media screen and (max-width: 1024px) {
    .portfolio__item {
        height:420px
    }
}

.portfolio__title {
    margin-bottom: 15px;
    color: #fff
}

@media screen and (max-width: 1250px) {
    .portfolio__title {
        color:#4d63aa
    }
}

@media screen and (max-width: 768px) {
    .portfolio__title {
        margin-bottom:0
    }
}

.p-slider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1124px;
    transform: translateX(-50%);
    width: 90%;
}

.p-slider__icon {
    width: 20px;
    height: 20px;
    margin: auto;
    fill: #fff
}

.p-slider-arrow,.p-slider__arrow {
    display: flex
}

.p-slider-arrow {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .3s linear;
    background-color: #272c48
}

.p-slider-arrow:hover {
    background-color: #4d63aa
}

.p-slider__arrow {
    margin-top: 10px;
    justify-content: center
}

.p-slider__item {
    position: relative;
    width: 330px;
    height: 490px;
    margin-right: 35px;
    transition: all .5s linear;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.p-slider__item.slick-center {
    transform: scale(1.08);
    box-shadow: 0 0 20px 2px #000;
    opacity: 1;
}

.p-slider__item.slick-center:after {
    background-color: transparent
}

.p-slider__item.slick-center:before {
    position: absolute;
    z-index: -1;
    right: -20px;
    bottom: -35px;
    display: none;
    width: 230px;
    height: 350px;
    content: '';
    
}

@media screen and (max-width: 360px) {
    .p-slider__item.slick-center:before {
        display:block
    }
}

@media screen and (max-width: 320px) {
    .p-slider__item.slick-center:before {
        right:-10px
    }
}


.p-slider__item:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(255,255,255,.8)
}

@media screen and (max-width: 1024px) {
    .p-slider__item {
        width:290px;
        height: 385px
    }
}

@media screen and (max-width: 414px) {
    .p-slider__item {
        width:270px;
        height: 350px;
    }
}



@media screen and (max-width: 765px) {
    .p-slider__item {
        width:270px;
        height: 350px;
    }
}

.p-slider-arrow {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.p-slider__prev {
    margin-right: 5px;
}

.p-slider__next {
    margin-left: 5px;
}




.s-quality {
    z-index: 1;
    padding: 70px 0 15px;
    background-color: #4d63aa
}

.s-quality:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 60%;
    height: 540px;
    content: '';
    background-color: #8392c4
}

@media screen and (max-width: 768px) {
    .s-quality:after {
        display:none
    }

    .s-quality {
        padding-top: 40px
    }
}

.quality__title {
    margin-bottom: 40px;
    color: #000;
}

 

@media screen and (max-width: 414px) {
    .quality__title:after {
        content:'Гарантия качества';
    }

    .quality__title {
        color: #4d63aa
    }
}

@media screen and (max-width: 550px) {
    .quality__title {
        margin-bottom:10px
    }
}

.quality__col {
    position: absolute;
    width: 400px;
    height: 500px
}

@media screen and (max-width: 768px) {
    .quality__col {
        display:none
    }
}

.quality-slider {
    position: relative;
    max-width: 1030px;
    margin: auto;
    
}

/* @media screen and (max-width: 360px) {
    .quality-slider .p-slider__arrow {
        position:absolute;
        bottom: 25px;
        left: 35px
    }
} */

@media screen and (max-width: 1070px) {
    .quality-slider {
        
    }
}

.quality-slider__quote {
    width: 23px;
    height: 23px;
    margin-bottom: 10px
}

.quality-slider__article {
    font-family: 'GothamProMedium',Arial,sans-serif;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 35%;
    padding: 20px 0;
    transform: translate(-50%,-50%);
    text-align: center;
}

.quality-slider__article:after,.quality-slider__article:before {
    position: absolute;
    left: 50%;
    width: 110px;
    height: 1px;
    content: '';
    transform: translateX(-50%);
    background-color: #000
}

.quality-slider__article:before {
    top: 0
}

.quality-slider__article:after {
    bottom: 0
}

.quality-slider__item {
    position: relative;
    width: 260px;
    height: 366px;
    margin-left: 50px;
    color: #000;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px 2px #000;
}

@media screen and (max-width: 768px) {
    .quality-slider__item {
        width:240px;
        height: 340px;
    }
}

/* @media screen and (max-width: 360px) {
    .quality-slider__item {
       margin-left: 57px;
    }
} */

.quality-slider__item.slick-center {
    width: 330px;
    height: 470px
}

.quality-slider__item.slick-center:after {
    width: 290px;
    height: 455px;
}

@media screen and (max-width: 768px) {
    .quality-slider__item.slick-center:after {
        height:360px;
    }
}

@media screen and (max-width: 360px) {
    .quality-slider__item.slick-center:after {
        width:220px;
        height: 350px
    }
}

@media screen and (max-width: 768px) {
    .quality-slider__item.slick-center {
        width:300px;
        height: 450px
    }
}

@media screen and (max-width: 360px) {
    .quality-slider__item.slick-center {
        width:290px;
        height: 420px
    }
}
 
@media screen and (max-width: 360px) {
    .quality-slider__item:after {
        right: -22px;
        bottom: -45px;
    }
}

.quality-slider__item.quality-slider__item-hideStyle:after {
    display: none
}

.quality-slider__item:last-child {
    box-shadow: none
}

.quality-slider__item-hideStyle {
    box-shadow: none
}

.quality-slider__item.slider-hide {
    visibility: hidden
}

.quality-slider .slick-track {
    height: 600px;
}

@media screen and (max-width: 550px) {
    .quality-slider .slick-track {
        height:500px;
    }
}

@media screen and (max-width: 360px) {
    .quality-slider .slick-track {
        height:470px;
    }
   
    
}

 
.quality-slider__title {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: -60px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}


.quality-slider__prev {
    margin-right: 5px;
}

.quality-slider__prev:hover {
    background-color: #fff
}

.quality-slider__next {
    margin-left: 5px;
}

.quality-slider__next:hover {
    background-color: #fff
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
     
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    line-height: 21px;
    color: #0d0d0d;
    cursor: pointer
}

.modal__subtitle {
    color: #4d63aa;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center
}

.modal__descr {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 11px
}

.modal_mini {
    min-height: 64px
}

.modal .error {
    border: 1px solid red
}

.modal label.error {
    border: none;
    text-align: center;
    margin-bottom: 10px
}

#consultation,
#order,
#thanks {
    display: none
}

.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column
}

.feed-form input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    padding: 20px 15px;
    color: #000;
    border: 0;
    outline: 0;
    background-color: #ebebeb;
    margin-bottom: 10px;
}

.feed-form input:nth-child(3) {
    margin-bottom: 20px
}

.button_submit {
    margin: 0 auto;
    border-radius: 0px;
}

.modal__politic {
    font-size: 12px;
    line-height: 1.2;
    max-width: 450px;
    margin: auto;
    text-align: center;
    color: #a9a9a9;
    margin-top: 15px;
}

.modal__politic a{
    color: #a9a9a9;
    text-decoration: underline;
}